[Desktop Entry]
Name=Arcade-dark
X-KDE-PluginInfo-Name=Arcade-dark
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=thakurabhinav22@hotmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
